set timeout=0
set default=0

menuentry "B-nix OS" {
    multiboot /boot/myos.bin
    module /boot/font.ttf font
    module /boot/bg.png background
    module /boot/icon.png logo
    module /boot/folder.png folder-icon
    module /boot/file.png file-icon
    module /boot/calc.bin calculator
    boot
}
